/* IMPOSTAZIONI GENERALI */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700;400&display=swap%2");

.big-content {
    background-image: url(../img/sfondo.png);
}

body {}

/* HEADER */
header {
    text-align: center;
    background-image: linear-gradient(180deg, rgba(0, 160, 198, 1) 0%, rgba(3, 109, 134, 1) 68%);
    background-color: #007288;
    margin-block: 30px;
    margin-inline: 50px;
    padding-block: 50px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}

header nav ul li a {
    color: white;
}

.nav {
    list-style: none;

}

.nav li {
    margin-top: 10px;
    margin-bottom: 10px;
}

.textlogo {
    padding-top: 6%;
    padding-bottom: 5%;
}

/* MAIN */
main {
    margin-inline: auto;
    background-color: white;
    width: 400px;
    border: solid black 1px;

}

.text {
    text-align: center;
    color: gray;
}

svg {
    margin-left: 10px;
    margin-right: 10px;
    fill: gray;
}

h1 {
    font-size: xx-large;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding-top: 20px;
    line-height: 1.5;
    padding-bottom: 20px;
    margin: 5px;
}

/* ELEMENTI NEL MAIN - ARTICLE */
.article * {
    margin: 10px;
}

.article {
    padding-inline: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

/* TABELLE */
table {
    margin-left: auto;
    margin-right: auto;
}

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */